# Core framework
Django==5.2.13

# Production WSGI server
gunicorn==23.0.0

# Static files management
whitenoise==6.9.0

# REST API
djangorestframework==3.18.0
djangorestframework-simplejwt==5.5.1

# CORS & Security
django-cors-headers==4.9.0

# Image processing
Pillow==12.3.0

# Environment configuration
python-decouple==3.8

# Database
psycopg2-binary==2.9.11
dj-database-url==2.3.0
